div.modal {
    display: auto;
    position: fixed;
    opacity: 100%;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: lightgray;
    padding: 20px;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 20px 20px 30px;
}

div.trans-in {
    opacity: 0;
    top: -100px;
}

div.modal #pengImg {
    width: 50px;
    float: right;
}

div.hidden {
    display: none;
}

#closeModal {
    float: right;
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 5px 5px 10px black;
}

#closeModal:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
}

#penguinTable tr:hover {
    cursor: pointer;
}

#penguinTable th{
    border-style:groove

}

#penguinTable td{
    background-color:#DCDCDC;
    width:16%;
    text-align:center;
}

#penguinTable tr.fail td{
    border-color:red; 
    background-color:indianred;
}


#penguinTable img {
    height:100px
}
